

*{
    box-sizing: border-box;
  }
  html {
      scroll-behavior: smooth;
  }
  
  /* ****** */
  
  .main-color{
      color: #f82dff;
  }
  
.form-control::placeholder {
    color: #6c757d75;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

#dashboard .choices{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #ffffffeb;
    display: none;
    z-index: 10000;
    border-radius: 5px;
}
#dashboard div:hover  > .choices{
    display: flex;
    align-items: center;
    justify-content: center;
}
#dashboard .choices a{
    font-size: 19px;
    color:#f82dff;
}


/*  ***** ******/ 
/*    Navbar   */
/* *************/
.navbar{
    display: none;
    padding: 3% 6% 1% 6%;
    background-color: rgba(255,255,255,0.9);
}
.navbar-brand {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 1px;
}

#dashboard .navbar{
    padding: 2% 3% 0%;
}

#dashboard .sidebar{
    padding:1% 2%;
    min-height: 100vh;
    background-color: #f82dff;
    /*background-image: linear-gradient(180deg, #fdb7ff 10%, #f82dff 100%);*/
    background-size: cover;
    color:#fff;
}
@media (max-width:991px) {
    #dashboard .sidebar{
        display: none;
        position: absolute;
        z-index: 100;
        padding-top: 20px;
    }
}
#dashboard .sidebar h3{
    font-weight: bold;
    text-align: center;
    font-size: 17px;
    margin-top:15px;
    margin-bottom: 10px;
}
#dashboard .sidebar hr{
    border-color: #ffd3ee7a;
}

#dashboard .sidebar h4{
    color:#ffd3ee;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
}
#dashboard .sidebar .nav-item a{
    color:rgba(255,255,255,.8);
    font-size: 14px;
    margin:10px auto;
    transition: all .5s ease;
}
#dashboard .sidebar .nav-item a:hover{
    color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(231, 232, 235) ;
}
#dashboard .sidebar .nav-item a.active{
    background-color: #faeaf4;
    color:#f82dff;
    font-weight: bold;
    box-shadow: 0 .15rem 1.75rem 0 rgba(231, 232, 235) ;
}
 .sidebar-content {
    padding: 2%;
    background-color: #f82dff0d;
}
@media (max-width:768px) {
    #dashboard .tab-pane{
        padding:3% 2% ;
    }
}

#dashboard .tab-pane-content p,#dashboard .tab-pane-content .p{
    padding-left: 3%;
}
#dashboard .topbar{
    margin-bottom: 20px;
}

#dashboard .topbar h3{
    font-size: 20px;
    font-weight: bold;
}
#dashboard button{
    background: none;
    border:none;
    transition: all .5s ease;
    cursor: pointer;
    border-radius: 2px;
}
#dashboard .topbar button{
    background-color: #f82dff;
    padding: 5px 15px;
    color:rgba(255,255,255,.8);
}
#dashboard button.collapse{
    display: inline;
    font-size: 22px;
    color: #ddd;
    border: 1px #ddd solid;
    margin-right: 20px;
    background: none;
    padding: 5px 15px;
    z-index: 101;
}
#dashboard .topbar button:hover{
    color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) ;
}
#dashboard .panel{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) ;
    border-radius: 5px;
    background-color: #fff;
    height: 100%;
}
#dashboard .panel .panel-header{
    padding: .75rem 1.25rem;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}
#dashboard .panel .panel-header h6{
    color:#f82dff;
    font-weight: bold;
    margin-bottom: 0;
    display: inline-block;
}
#dashboard .panel .panel-body{
    padding: .75rem 1.25rem;
}
#dashboard .modal .save{
    background-color: #f82dff;
    padding-right: 4%;
    padding-left: 4%;
}
#dashboard .modal .save:hover{
    box-shadow:-1px 5px 5px #ccc;
}
#dashboard .modal .cancel{
    background-color: #ccc;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
#dashboard .modal input:focus,#dashboard .modal textarea:focus{
    outline: none;
}
/*************************/
/******* Home **********/
/******************/

#dashboard #home img{
    padding: 0;
 }
 #dashboard #home label , #dashboard #about label{
     display: block;
     font-weight: bold;
 }
/*************************/
/******* About **********/
/******************/
#dashboard #about .panel-body .line{
    margin: 20px auto;
}
#dashboard #about .panel .panel-body .line label{
    width:35%;
    display: inline-block;
}
#dashboard .skill {
    margin-top: 25px;
    position: relative;
    transition: all .5s ease;
}
#dashboard .skill h6{
    text-align: center;
    margin: 0;
}

#dashboard .skills .progress-circle{
    display: block;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}


#dashboard .skill .skill-choices{
    height: 80%;
}
#dashboard .technique .technique-choices{
    height: 100%;
}
#dashboard #about .techniques .progress{
    border-radius: 4px;
    background: #ffffff;
    height: 4px;
    margin-bottom: 20px;
  }
  #dashboard #about .techniques  .progress .progress-bar-danger{
    background: #f82dff;
  }
  #dashboard .progress-bar {
      -webkit-transition: width 2.5s ease;
      transition: width 2.5s ease;
  }
  #dashboard #about .techniques .technique  span{
    color: #222;
    font-weight: bold;
    display: block;
    padding-bottom: 6px;
  }
  #dashboard #about .techniques small{
    font-weight: bold;
    float: right;
  }

/*************************/
/******* End About **********/
/******************/


/*************************/
/******* Achievements **********/
/******************/

#dashboard #achievements .achievement{
    margin-top:35px;
    position: relative;
}
#dashboard #achievements .panel{
    border:none;
}
#dashboard #achievements .achievement .panel-header{
    border: none;
    background: none;
}
#dashboard #achievements .icon-container{
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 40px;
    margin-top: -50px;
    color:#f1ee15;
}
#dashboard #achievements .icon-container i{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    line-height: 70px;
}
#dashboard #achievements .achievement .panel-body{
    text-align: center;
    padding: 0;
    margin-bottom: 70px;
}
#dashboard #achievements .achievement .panel-body label{
    width: 100%;
    background-color: #a3a3a3;
    padding: 3% 1%;
    color: #fff;
    font-weight: bold;
}
#dashboard #achievements .achievement .panel-body p{
    color: #4e4e4e;
    padding: 5% 6% 1%;
    font-size: 15px;
}
#dashboard #achievements .achievement .footer{
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
}

#dashboard #achievements .achievement .footer span{
    padding: 1% 7%;
    color: #8c8c8c;
    font-size: 14px;
    display: block;
    text-align: left;
}
#dashboard #achievements .achievement .footer span i{
    width:10%;
    text-align: center;
}
#dashboard #achievements .achievement .achievement-choices{
    height: 90%;
}
/*************************/
/******* End Achievements **********/
/******************/



/*************************/
/******* Experience **********/
/******************/

.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container::after {
    content: '';
    display: table;
    clear: both;
}
#cd-timeline, #cd-timeline-2 {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before, #cd-timeline-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #ccc;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline, #cd-timeline-2 {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before, #cd-timeline-2::before {
        left: 50%;
        margin-left: -2px;
    }
}
.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block .date-range{
    color: #737373;
    font-size: 14px;
}
.cd-timeline-block .date-range i{
    width:15px;
    text-align: center;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: -3em 0;
    }
	#cd-timeline-2 .cd-timeline-block {
        margin: -12em 0;
    }
	#cd-timeline-2 .cd-timeline-block:first-child {
        margin-top: 0;
    }
	#cd-timeline-2 .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}
.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #eee;
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        transform:translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
    }
}
.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background-color: #eee;
    border-radius: 0.50em;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    font-weight: 600;
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    font-size: 16px !important;
    color: #333;
    line-height: 24px;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        width: 45%;
    }
    .cd-timeline-content::before {
        display: none;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
    }
}
.service-box-content {
    padding: 20px;
}
.cd-timeline-content {
    margin-left: 0;
}
.cd-timeline-block {
    overflow: hidden;
}
@media (max-width:768px) {
    .cd-timeline-content {
        margin-top: 60px;
        padding-bottom: 40px;
    }

}
@media (max-width:1170px) {
    .cd-timeline-content {
        margin-top: 60px;
        padding-bottom: 40px;
    }
}

#dashboard #experience .cd-timeline-block {
    margin: -1em 0;
}
#dashboard #experience .experience-content{
    padding: 0;
}
#dashboard #experience .experience-content .header{
    background-color: #e3e3e330;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 1%;
    border-top: #f82dff 6px solid;
}
#dashboard #experience .header h2{
    font-size: 18px;
}
#dashboard #experience .cd-timeline-img {
    top: 30%;
    border-color:#f82dff ;
    background-color: #fafafa;
}
#dashboard #experience .experience-date{
    position: absolute;
    top: 30%;
    width: 25%;
    height: 60px;
}
#dashboard #experience .experience:nth-child(odd) .experience-date{
    right: 25%;
}
#dashboard #experience .experience:nth-child(even) .experience-date{
    left: 25%;
}
#dashboard #experience .experience-date{
    background-color: #c8c8c8;
}
#dashboard #experience .experience-date span{
    font-size: 20px;
    display: block;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-weight: bold;
}
#dashboard #experience p{
    padding: 4%;
}
#dashboard #experience p .date-range{ 
    margin-top: 5%;
    display: block;
}
#dashboard #experience .experience:nth-child(odd) .pointer:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid #c8c8c8;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
#dashboard #experience .experience:nth-child(even) .pointer:after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 20px solid #c8c8c8;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}
#dashboard #experience .cd-timeline-img span{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
}
#dashboard #experience div:hover  > .choices{
    background: none;
}
#dashboard #experience div.experience-date:hover  > span{
    display: none;
}
#dashboard .date  label{
    font-size: 14px;
}

/*************************/
/******* End Experience **********/
/******************/




/*************************/
/******* Contact **********/
/******************/
#dashboard #contact .contact-me p{
    padding-top: 3%;
}

#dashboard #contact .contact-me p i{
    width: 15%;
    font-size: 19px;
    text-align: center;
}

#dashboard #contact .input-group-prepend{
    width:10%;
}

#dashboard #contact .input-group-prepend .input-group-text{
    width: 100%;
    padding: 0;
}
#dashboard #contact .input-group-prepend .input-group-text i{
    margin: auto;
}

#dashboard #contact .social_links .line{
    margin-top: 3%;
}
#dashboard #contact .social_links .line label{
    width:35px;
    height: 35px;
    font-size: 18px;
    text-align: center;
    border: #f82dff solid 2px;
    padding: 2px;
    margin-right: 16px;
    background-color: #f82dff;
    color: #fff;
}
/*************************/
/******* End Contact **********/
/******************/