*{
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* ****** */

.main-color{
    color: #f82dff;
}

#achievements,#experience,#about,#home{
	margin: 0 auto;
	padding: 93px 0 10px;
    position:relative;
}
#about,#home{
    padding-bottom: 60px;
}

/***********/


/* * *******************/
/* ****** LOADER  **** ***/
/* * *******************/
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 1;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f82dff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
    }
    @keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/*  ***** ******/ 
/*    Navbar   */
/* *************/
.navbar{
    padding: 3% 6% 1% 6%;
    background-color: rgba(255,255,255,0.9);
}
.navbar-brand {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 1px;
}
.navbar-nav .nav-item ,.contact {
    margin-right:10px;
    /*font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #777777;
    transition: all .5s ease;
}
.contact{
    background-color: #f82dff;
    border-radius: 25px;
    padding: 0% 3%;
    color:#fff;
    transition: all .5s ease;
}
.contact:hover{
    box-shadow:-1px 5px 5px #ccc;
}

@media (max-width:768px) {
    .navbar .collapse .navbar-nav{
        margin-top: 20px;
        padding-left: 10px;
    }
}

/*********************/
/**** Home Section ****/
/********************/

#home{
    background-color: #f82dff21;
}
#home hr{
  width:22%;
  border: 2px solid #f82dff;
  margin-left: 2px;
}
#home h1{
    font-weight: bold;
}
#home .frame-1{
  border:1px solid #f82dff;
  border-radius: 50%;
  width:90%;
  padding: 12px;
  margin: auto;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-iteration-count: infinite;
}
#home .frame-2{
  border:1px solid #f82dff;
  border-radius: 50%;
  padding: 12px;
  margin: auto;
  overflow: hidden;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-delay: 0.5s;
  animation-iteration-count: infinite;
}
#home .frame-3{
  border:25px solid #f82dff;
  border-radius: 50%;
  padding: 2px;
  margin: auto;
  overflow: hidden;
  animation: pulse; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
  animation-delay: 1s;
  animation-iteration-count: infinite;
}

@media (max-width:768px) {
    #home .frame-1{
        padding: 8px;
    }
    #home .frame-2{
        padding: 8px;
    }
    #home .frame-3{
        padding: 1px;
    }
}
#home .myImage{
    width:100%;
    height: 100%;
    margin:auto;
    margin-top: -10;
}

#home .icons-social a{
    border-radius: 50%;
    border: 2px solid #f82dff;
    font-size: 18px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 35px;
    margin-left:10px;
    color:#222;
}
#home .icons-social a:hover{
    background-color: #f82dff;
    transition: all .5s ease;
}
#home .contact a{
    line-height: 40px;
    padding-top:0;
    padding-bottom: 0;
}


/****************/
/* about Section */
/****************/
#about h2{
    font-weight: bold;
    color: #222;
}
#about h4{
  padding: 15px 0;
  color: #f82dff;
}
#about .progress{
  border-radius: 4px;
  background: #ffffff;
  height: 4px;
  margin-bottom: 20px;
}
#about .progress .progress-bar-danger{
  background: #f82dff;
}
.progress-bar {
    -webkit-transition: width 2.5s ease;
    transition: width 2.5s ease;
}
#about .skills span:first-child{
  padding-top: 50px;
}
#about span{
  color: #222;
  font-weight: bold;
  display: block;
  padding-bottom: 6px;
}
#about small{
  font-weight: bold;
  float: right;
}
/************/
/* end about */
/*************/


/*************/

/****************/
/*** achievements ****/
/************/

#achievements{
    background-color: #f82dff21;
    padding-bottom: 60px;
}
#achievements .heading ,#experience .heading{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
    line-height: 32px;
    margin:auto;
}
#achievements .heading{
	margin-bottom: 81px;
}
.box_timeline_holder{
	position: relative;
	overflow: hidden;
}
.box_timeline{
	position: relative;
	overflow: hidden;
}
.box_timeline ul{
	padding: 0;
	background: url(../images/bg_ul.gif) repeat-x 0 76px;
    overflow: hidden;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
@media (max-width:768px) {
    .box_timeline ul{
        background: none;
    }
}
.box_timeline ul li{
  margin-bottom: 30px ;
}
.box_timeline ul li .date{
    background: url(../images/timeline.png) no-repeat 50% 0;
    background-size: contain;
	height: 91px;
	margin: 0 auto 12px;
	overflow: hidden;
}
.box_timeline ul li .date span{
	font-weight:bold;
	color: #fff;
	font-size: 14px;
	line-height: 21px;
	display: block;
	text-align: center;
    padding: 15px 0 0 0;
    border-radius: 50%;
}
.box_timeline h3{
	color: #f82dff;
    font-size: 16px;
    font-weight: bold;
	line-height: 16px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}
.box_timeline p{
	color: #737373;
	font-size: 16px;
	line-height: 18px;
	display: block;
	text-align: center;
	margin: 0 0 10px;
}


/************************/
/*** end achievements ****/
/************************/



/**************************/
/*** Experience Section ****/
/**************************/

.cd-container {
    width: 90%;
    max-width: 1170px;
    margin: 0 auto;
}
.cd-container::after {
    content: '';
    display: table;
    clear: both;
}
#cd-timeline, #cd-timeline-2 {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}
#cd-timeline::before, #cd-timeline-2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #ccc;
}
@media only screen and (min-width: 1170px) {
    #cd-timeline, #cd-timeline-2 {
        margin-top: 3em;
        margin-bottom: 3em;
    }
    #cd-timeline::before, #cd-timeline-2::before {
        left: 50%;
        margin-left: -2px;
    }
}
.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block .date-range{
    color: #737373;
    font-size: 14px;
}
.cd-timeline-block .date-range i{
    width:15px;
    text-align: center;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: -3em 0;
    }
	#cd-timeline-2 .cd-timeline-block {
        margin: -12em 0;
    }
	#cd-timeline-2 .cd-timeline-block:first-child {
        margin-top: 0;
    }
	#cd-timeline-2 .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
}
.cd-timeline-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #fff;
    background-color: #eee;
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img:hover {
    background-color: #f82dff;
    cursor: pointer;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        transform:translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
    }
}
.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background-color: #eee;
    border-radius: 0.50em;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    font-size: 22px !important;
    font-weight: 600;
    color: #333;
    margin-top: 0;
    padding-bottom: 10px;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    font-size: 16px !important;
    color: #333;
    line-height: 24px;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid white;
}
@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        margin-left: 0;
        width: 45%;
    }
    .cd-timeline-content::before {
        display: none;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
    }
}
.service-box-content {
    padding: 20px;
}
.cd-timeline-content {
    margin-left: 0;
}
.cd-timeline-block {
    overflow: hidden;
}
@media (max-width:768px) {
    .cd-timeline-content {
        margin-top: 60px;
        padding-bottom: 40px;
    }

}
@media (max-width:1170px) {
    .cd-timeline-content {
        margin-top: 60px;
        padding-bottom: 40px;
    }
}



/******************/
/* start contact */
/******************/
#contact{
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: #f82dff21;
}
#contact address{
    padding-bottom: 18px;
    color:#737373;
}
#contact .contact-title{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    color: #222;
}
#contact .fa{
    border: 2px solid #737373;
    border-radius: 50%;
    color: #f82dff;
    width: 50px;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    margin-right: 20px;
    transition: all 0.4s ease-in-out;
}
#contact .fa:hover{
    background-color: #737373;
}
#contact .form-control {
    background: transparent;
    border: 2px solid #737373;
    border-radius: 0;
    box-shadow: none;
    color: #737373;
    margin-bottom: 20px;
    transition: all 0.4s ease-in-out;
}
#contact .form-control:focus{
    background: #fff;
}
#contact input{
    height: 50px;
}
#contact input[type="submit"]{
    background: #f82dff;
    border: 2px solid transparent;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}
#contact input[type="submit"]:hover{
    cursor: pointer;
    background: none;
    color: #f82dff;
}

/******************/
/* end contact */
/******************/


/******************/
/* start footer */
/******************/

footer {
    background-color: #000;
}
.copyright-text {
    margin-top: 25px;
}
.copyright-text p {
    /*font-family: 'Dosis';*/
    font-size: 14px;
    color: #fff;
}
.copyright-text a {
    color: #fff;
}
.copyright-text em {
    font-style: normal;
    color: #fff;
}
.social-icons ul {
    text-align: right;
    margin-top: 15px;
}
.social-icons li {
    list-style: none;
    display: inline-block;
}
.social-icons a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 35px;
    background-color: #f82dff;
    border: 4px solid #f82dff;
    transition: all 0.4s ease-in-out;
}
.social-icons a:hover {
    background: none;
}
@media (max-width:992px) {

    footer {
        text-align: center;
    }
    .social-icons ul {
        margin-top: 30px;
        padding-bottom: 15px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 40px;
    }
}
/* end social icon */
.back-to-top {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 0;
    margin-top: -30px;
    margin-left: -30px;
    background: #000;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color:#f82dff
  }

/******************/
/* end footer */
/******************/