*{
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* ****** */

.main-color{
    color: #f82dff;
}


.panel{
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) ;
    border-radius: 5px;
    background-color: #fff;
    height: 100%;
    margin-bottom: 10px;
}
.panel .panel-header{
    padding: .75rem 1.25rem;
    padding-top: 1rem;
    padding-bottom: 0.75rem;
    margin-bottom: 0;
    background-color: #f8f9fc;
    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
}
.panel .panel-header h6{
    color:#f82dff;
    font-weight: bold;
    margin-bottom: 0;
    display: inline-block;
}
.panel .panel-body{
    padding: .75rem 1.25rem;
}

/***********/


/* * *******************/
/* ****** LOADER  **** ***/
/* * *******************/
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    text-align: center;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    opacity: 1;
}
.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -20px;
    margin-top: -20px;
}
.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f82dff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2s infinite ease-in-out;
    animation: bounce 2s infinite ease-in-out;
}
.double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}
@-webkit-keyframes bounce {
    0%,
    100% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1);
    }
    }
    @keyframes bounce {
    0%,
    100% {
        transform: scale(0);
        -webkit-transform: scale(0);
    }
    50% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}

/*  ***** ******/ 
/*    Navbar   */
/* *************/
.navbar{
    padding: 3% 6% 1% 6%;
    background-color: rgba(255,255,255,0.9);
}
.navbar-brand {
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 32px;
    letter-spacing: 1px;
}
.navbar-nav .nav-item ,.contact {
    margin-right:10px;
    /*font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    color: #777777;
    transition: all .5s ease;
}
.contact{
    background-color: #f82dff;
    border-radius: 25px;
    padding: 0% 3%;
    color:#fff;
    transition: all .5s ease;
}
.contact:hover{
    box-shadow:-1px 5px 5px #ccc;
}
/*
@media (max-width:768px) {
    .navbar .collapse .navbar-nav{
        margin-top: 20px;
        padding-left: 10px;
    }
}

*/

/******************/
/* start footer */
/******************/

footer {
    background-color: #000;
}
.copyright-text {
    margin-top: 25px;
}
.copyright-text p {
    /*font-family: 'Dosis';*/
    font-size: 14px;
    color: #fff;
}
.copyright-text a {
    color: #fff;
}
.copyright-text em {
    font-style: normal;
    color: #fff;
}
.social-icons ul {
    text-align: right;
    margin-top: 15px;
}
.social-icons li {
    list-style: none;
    display: inline-block;
}
.social-icons a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 35px;
    background-color: #f82dff;
    border: 4px solid #f82dff;
    transition: all 0.4s ease-in-out;
}
.social-icons a:hover {
    background: none;
}
@media (max-width:992px) {

    footer {
        text-align: center;
    }
    .social-icons ul {
        margin-top: 30px;
        padding-bottom: 15px;
        display: inline-block;
        margin-left: 0px;
        margin-right: 40px;
    }
}
/* end social icon */
.back-to-top {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 50%;
    top: 0;
    margin-top: -30px;
    margin-left: -30px;
    background: #000;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color:#f82dff
  }

/******************/
/* end footer */
/******************/